/* -----------------------------------------
   Mixins
----------------------------------------- */
// by MarkDotto.com
.3d-text() {	
			color: white;
	text-shadow: 
			0 1px 0 #ccc, 
			0 2px 0 #c9c9c9,
			0 3px 0 #bbb,
			0 4px 0 #b9b9b9,
			0 5px 0 #aaa,
			0 6px 1px rgba(0,0,0,.1);
}

.box-radius(@size: 5px, @color: @borderColor) {
	box-shadow: inset 0px 0px 0px @size @color;
	&:hover {
		box-shadow: inset 0px 0px 0px @size*6 @color;
		a {
			// color: white
		}
	}
}

// polygon Mixin
.createPolygon(@color: @mograph) {
	position: relative;
	// margin-top: @polygon;
	margin-bottom: 1.8em !important;
	background-color: @color; /*todo*/
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	a {
		color: white;
	}
	&:before, &:after {
		position: absolute;
		left: 0;
		width: 0;
		height: 0;
		border-right: solid rgba(255,0,0,0);
		border-left: solid rgba(255,0,0,0);
		content: "";
	}	
	&:before {
		border-bottom: solid @color;	
	}
	&:after {
		border-top: solid @color;	
	}

}
.createPolygon-rect(@size: 30px) {
	width: round(@size * 1.66);
	height: @size;
}
.createPolygon-top(@size) {
	top: -(@size) / 2;
	border-right-width: round(@size / 2 * 1.66);
	border-bottom-width: @size / 2;
	border-left-width: round(@size / 2 * 1.66);	
}
.createPolygon-bottom(@size) {
	bottom: -(@size) / 2;
	border-top-width: @size / 2;
	border-right-width: round(@size / 2 * 1.66);
	border-left-width: round(@size / 2 * 1.66);	
}
.createPolygon-top,
.createPolygon-bottom {
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-right: solid rgba(255,0,0,0);
	border-bottom: solid @mograph;
	border-left: solid rgba(255,0,0,0);
	content: "";	
}

.transition(@property: all, @duration: 0.5s, @timing: ease) {
	-webkit-transition: @property @duration @timing;
	-moz-transition: @property @duration @timing;
	-ms-transition: @property @duration @timing;
	-o-transition: @property @duration @timing;
	transition: @property @duration @timing;
}

// font-sizing mixin by css-tricks.com
.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}

.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  transform:scale(@ratio);
}

.rotation(@deg:5deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  transform: rotate(@deg);
}
.rotateX(@deg){
  -webkit-transform: rotateX(@deg);
  -moz-transform: rotateX(@deg);
  -ms-transform: rotateX(@deg);
  transform: rotateX(@deg);
}

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.translate(@x:0, @y:0) {
  .transform(translate(@x, @y));
}