<!-- Button -->
<div class="row">
  <div class="center">
    <a href="#" class="secondary button" data-reveal-id="badgeModal">
      <i class="t21-ribbon"></i>
      Badge
    </a>
  </div>
</div>

<!-- Modal -->
<div id="badgeModal" class="reveal-modal">
    <h1>New Badge earned</h1>
    <p>well done!</p>
    <div class="badge-circle {{$routeParams.courseId}}">
      <i class="{{course.icon}}"></i>
      <p>{{course.name}}</p>
      <ul>
        <li ng-repeat="lesson in course.lessons" class="award-polygon {{lesson.archived}}">
          <i class="{{lesson.icon}}"></i>
          <!-- <div class="award-polygon frame-outer"></div> -->
        </li>
        
      </ul>
    <div class="ribbon-bottom {{$routeParams.courseId}}"></div>      
    <div class="ribbon-bottom {{$routeParams.courseId}}"></div>      
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>