<header class="row">
  <div class="two mobile-one columns push-five">
    <img src="img/logo_full.png">
<!--       <div id="logo">
        <div class="outer circle">
          <div class="middle circle">
            <div class="inner circle"></div>
          </div>
        </div>
      </div>
 -->  
  </div>
  <hgroup class="hide-for-small">
    <div class="five columns pull-two">
      <h2>twentyone lessons</h2>
      <hr>
    </div>
    <div class="five columns">
      <h2>that make type sexy</h2>
      <hr>
    </div>
  </hgroup>

  <hgroup class="show-for-small">
    <div class="mobile-three columns">
      <h2>twentyone lessons that make type sexy</h2>
      <hr>
    </div>
  </hgroup>
</header>