<!-- Button -->
<div class="row">
  <div class="center">
    <a href="#" class="secondary button" data-reveal-id="badgeModal">
      <i class="icon-question-sign"></i>
      Quiz
    </a>
  </div>
</div>



<!-- Modal -->
<div id="badgeModal" class="reveal-modal">
    <div id="quiz">
<!--         <div>
            <h1>Which css property is used to set text size?</h1>
            <form name="firstQuestion">
                <input type="radio"value="one"><code>text-size</code> <br>
                <input type="radio"value="two"><code>font-scale</code> <br>
                <input type="radio"value="three"><code>font-size</code> <br>
            </form>
        </div>
        <div>
            <h1>Advantages of icon fonts</h1>
            <form name="secondQuestion">
                <input type="checkbox">performance <br>
                <input type="checkbox">customizability <br>
                <input type="checkbox">free scalable <br>
            </form>
        </div>
 -->

        <div>
          <img src="img/quiz.png">
        </div>

        <!-- BADGE -->
        <div>
           <h3>New Badge earned</h3>
           <p>well done!</p>
           <div class="badge-circle {{$routeParams.courseId}}">
           <i class="{{course.icon}}"></i>
           <p>{{course.name}}</p>
           <ul>
             <li ng-repeat="lesson in course.lessons" class="award-polygon {{lesson.archived}}">
               <i class="{{lesson.icon}}"></i>
               <!-- <div class="award-polygon frame-outer"></div> -->
             </li>
             
           </ul>
           <div class="ribbon-bottom {{$routeParams.courseId}}"></div>      
           <div class="ribbon-bottom {{$routeParams.courseId}}"></div>      
           </div>
        </div>   
    </div>
    <a class="close-reveal-modal">&#215;</a>

</div>



<script>
  // init fn.orbit
  $('#quiz').orbit({
    timer: false,
    // animation: 'horizontal-push',
    fluid: "16x9"
  });
  console.log("orbit loaded");
</script>