<!-- Header -->
<header class="row">
  <div class="four columns">
    <div class="row sub-logo">
      <div class="three columns">
          <a href="index.html"><img src="img/logo.png"></a>
      </div>
      <div class="nine columns">
        <h3>twentyone lessons that make type sexy</h3>
        <hr>
      </div>
    </div>
  </div>
  <div class="eight columns">
    <nav>
      <ul class="link-list right">
        <li ng-repeat="course in courses" class="{{course.id}}">
        <div class="ch-item">        
          <div class="ch-info-wrap">
            <div class="ch-info">
              <div class="ch-info-front">
                <a href="#/courses/{{course.id}}"><i class="foundicon-{{course.icon}}"></i></a>                
              </div>
              <div class="ch-info-back">
                <p>category</p>
              </div>  
            </div>
          </div>
        </div>
       </li>
      </ul>
    </nav>
  </div>
</header>