/* Artfully masterminded by ZURB  

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Colors
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Colors
----------------------------------------- */
@bgColor: #fafafa;

// categories
@mograph: #91c53e;
@tDesign: #e82929;
@textFx: #fdb51c;
@web: #2cb0e0;

@borderColor: #4d4d4d;


/* -----------------------------------------
   Metrics
----------------------------------------- */
@polygonSize: 30px;


/* -----------------------------------------
   Mixins
----------------------------------------- */
// by MarkDotto.com
.3d-text() {
	text-shadow: 
			0 1px 0 #ccc, 
			0 2px 0 #c9c9c9,
			0 3px 0 #bbb,
			0 4px 0 #b9b9b9,
			0 5px 0 #aaa,
			0 6px 1px rgba(0,0,0,.1);	
			color: white;
}

// polygon Mixin
.createPolygon(@color: @mograph) {
	position: relative;
	text-align: center;
	margin-bottom: 1.8em !important;
	// margin-top: @polygon;   					TODO
	line-height: 1em;
	background-color: @color; /*todo*/
	font-size: 2em;
	a {
		color: white;
	}
	&:before, &:after {
		content: "";
		position: absolute;
		left: 0;
		width: 0;
		height: 0;
		border-left: solid transparent;
		border-right: solid transparent;
	}	
	&:before {
		border-bottom: solid @color;	
	}
	&:after {
		border-top: solid @color;	
	}

}
.createPolygon-rect(@size: 30px) {
	height: @size;
	width: round(@size * 1.66);
}
.createPolygon-top(@size) {
	top: -(@size) / 2;
	border-left-width: round(@size / 2 * 1.66);
	border-right-width: round(@size / 2 * 1.66);
	border-bottom-width: @size / 2;	
}
.createPolygon-bottom(@size) {
	bottom: -(@size) / 2;
	border-left-width: round(@size / 2 * 1.66);
	border-right-width: round(@size / 2 * 1.66);
	border-top-width: @size / 2;	
}
.createPolygon-top,
.createPolygon-bottom {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border-left: solid transparent;
	border-right: solid transparent;
	border-bottom: solid @mograph;	
}



/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@import "fonts.css";

body {
	background-color: @bgColor;
}
.content {
	margin-top: 1em;
	// background-color: white;
}

a {
	// color: white !important;
}

h1, p {
	-webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);	
}


/* -----------------------------------------
   Main Header
----------------------------------------- */

h1, h2, h3 {
	font-family: 'RobotoThin';
	// .3d-text();
}
p {
	font-family: 'RobotoLight';
	font-size: 16px;
}
header h2 {
	font-size: 1.5em;
	margin: 0;
}
header h3 {
	font-size: 0.9em;
}
header .five.columns {
	top: 3em;
}
header .five.columns:first-child {
	text-align: right;
}
header {
	margin-top: 1em !important;
}

hr {
	border-color: rgba(1, 1, 1, 0.1);
	margin: 0;
}


/* -----------------------------------------
   Sub Header
----------------------------------------- */

.logo img {
	width: 80px;
}
.sub-logo .columns {
	padding: 0;
}


nav li {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: 4px solid @borderColor;
	background-color: white;

}
nav a {
	color: @borderColor;
}
nav i {
	font-size: 2em;
	margin-left: 12px;
	line-height: 50px !important;
}
nav li {
	&.mograph {
		border-color: @mograph;
	}
	&.web {
		border-color: @web;
	}
	&.tDesign {
		border-color: @tDesign;
	}
	&.textFx {
		border-color: @textFx;
	}
}


/* -----------------------------------------
   Home (category list)
----------------------------------------- */
// PANEL
.category {
	height: 80px;
	margin: 2em 0;
	padding: 1em;
	position: relative;
	border-radius: 0.5em;	
	font-size: 2em;
	line-height: 1em;
	text-align: center;
	color: white;

	& h1 {
		font-size: 1em;
		line-height: 0;
		color: white;
	}

	&.mograph {
		background-color: @mograph;
		&:hover {
			background-color: darken(@mograph, 8%);
		}
	}
	&.tDesign {
		background-color: @tDesign;
		&:hover {
			background-color: darken(@tDesign, 8%);
		}
	}
	&.textFx {
		background-color: @textFx;
		&:hover {
			background-color: darken(@textFx, 8%);
		}
	}
	&.web {
		background-color: @web;
		&:hover {
			background-color: darken(@web, 8%);
		}
		&:active {
			background-color: lighten(@web, 2%);
		}
	}
}
@media only screen and (max-width: 767px) {
 .category {
 	margin-top: 1em;
 	margin-bottom: 0.5em;
 }
}

.circle {
	position: absolute;
	color: @borderColor;
	z-index: 1;
	background-color: white;
	border-radius: 2em;
	border: 0.15em solid @borderColor;
	text-align: center;
	line-height: 1.7em;
	&.big {
		width: 2em;
		height: 2em;
		font-size: 2em;
		top: -25%;
	}
	&.small {
		width: 2em;
		height: 2em;
		font-size: 1em;
		top: 10%;
	}
	&.left {
		left: -25%;
	}
	&.right {
		right: -25%;
	}
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}


#introTour {
	display: none;
}
#startTour {
	display: none;
}



/* -----------------------------------------
   Lesson
----------------------------------------- */
.course-intro {
	height: 200px;
	margin-bottom: 1em;
	h1 {
		text-align: center;
	}
}




/* -----------------------------------------
   Lesson
----------------------------------------- */
.connector {
	width: 3px;
	height: 300px;
	background-color: @borderColor;
	position: absolute;
	left: 38px;
	top: 60px;
}

#lessons .polygon {
	margin-top: 30px;
}
.lesson-list {
	margin-top: 15px;  						// fix when polygon-mixin (top-size)
}

.lesson-list li span,
.lesson-features li span {
	width: 150px;
	height: auto;
	padding: 10px;
	color: white;
	background-color: lighten(@mograph, 10%);
	z-index: 1;
	position: absolute;
	left: 60px;
	top: -13px;
	font-size: 14px;
	border-radius: 5px;
	border: 3px solid white;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
	display: none;
}
.lesson-list li a:hover span, 
.lesson-features li a:hover span {
	display: block;
}

.polygon {
	&.small {
		.createPolygon-rect(@polygonSize);
	}
	&.big {
		.createPolygon-rect(@polygonSize * 2);	
	}
	&.badge-polygon {
		.createPolygon-rect(@polygonSize * 4);
	}

	// Colors
	&.mograph {
		.createPolygon(@mograph);
		background-color: @mograph;
	}
	&.tDesign {
		.createPolygon(@tDesign);
		background-color: @tDesign;
	}
	&.textFx {
		.createPolygon(@textFx);
		background-color: @textFx;
	}
	&.web {
		.createPolygon(@web);
		background-color: @web;
	}

}
.polygon.small:before {
	.createPolygon-top(@polygonSize);
}
.polygon.small:after {
	.createPolygon-bottom(@polygonSize);
}

.polygon.big:before {
	.createPolygon-top(@polygonSize * 2);
}
.polygon.big:after {
	.createPolygon-bottom(@polygonSize * 2);
}

.polygon.badge-polygon:before {
	top: -20px;
	border-left-width: 100px;
	border-right-width: 100px;
	border-bottom-width: 20px;
}
.polygon.badge-polygon:after {
	bottom: -60px;
	border-left-width: 100px;
	border-right-width: 100px;
	border-top-width: 60px;
}

article.description {
	background: #eee;
	height: 500px;
	padding: 0 1.5em;
}

#lessons a {
	color: white;
}

.lesson-content {
	// background-color: white;
}

.lesson-features li {
	width: 48px;
	height: 48px;
	border-radius: 10px 0 0 10px;
	background-color: @borderColor;
	font-size: 2em;
	position: relative;
	text-align: center;
	a {
		color: white;
	}
}
	

.fontSize (@size: 20px) {
	font-size: @size;
}

.angularSize {
	.fontSize(20px);
	font-size: 100px;
}


/* -----------------------------------------
   Partials
----------------------------------------- */

// Orbit
#featured { 
	background: url(../img/foundation/loading.gif) center center #f4f4f4; 
	height: 300px; 
}
#featured img { 
	display: none; 
}

#featured.orbit { 
	background: none; 
}
#featured.orbit img {
	display: block; 
}

#quiz {
	background-color: white;
}

#quiz .orbit-slide {
	padding: 0 50px;
}

// badge-polygon
.reveal-modal .close-reveal-modal {
	text-shadow: none;
}
[class*="badge-"] {
	margin: 0 auto;
	color: white;
	text-align: center;
	ul {
		list-style: none;
	}
	p {
		position: absolute;
		z-index: 1;
		left: 40px;
		bottom: 0;
		line-height: 0;
	}
}

.badge-circle {
	color: @borderColor;
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 300px;
	background-color: white;
	border: 40px solid;
	p {
		left: 50px;
		bottom: 40px;
	}
	&.mograph {
		border-color: @mograph;
	}
	&.tDesign {
		border-color: @tDesign;
	}
	&.web {
		border-color: @web;
	}
	&.textFx {
		border-color: @textFx;
	}
}

// [class*="badge-"] > i
.badge-polygon > i {
	color: white;
	font-size: 4em;
	line-height: 1;
}
.badge-circle > i {
	color: @borderColor;
	font-size: 9em;
	line-height: 1.5;
}
/*
#badge-polygonModal.reveal-modal {
	width: 300px;
	margin-left: 200px;
	padding: 100px;
}
*/
.award-circle {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 5px solid white;
	z-index: 1;
	background-color: @borderColor;
	color: white;
	&:nth-child(odd) {
		left: -25px;
	}
	&:nth-child(even) {
		right: -25px;
	}
	&:nth-child(1),	&:nth-child(2) {
		top: -20px;
	}
	&:nth-child(3),	&:nth-child(4) {
		bottom: -25px;
	}
	&:nth-child(5) {
		left: 70px;
		bottom: -80px;
	}
	i {
		font-size: 2em;
		line-height: 1.4;
	}
}

.award-circle i.disabled {
	opacity: .2;
}
.award-circle.disabled {
	background-color: white;
}


.ribbon-top {
	width: 80px;
	height: 160px;
	position: absolute;
	top: -200px;
	left: 60px;
	background-color: darken(@mograph, 10%);
}
.ribbon-top:after {
	width: 0px;
	height: 0px;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 80px solid red;
}


.ribbon-bottom {
	width: 40px;
	height: 120px;
	// background-color: black;
	// position: absolute;
	// left: 70px;
	.createPolygon(@web);
	&:after {
		.createPolygon-bottom(25px);
	}
}


.award-polygon {
		.createPolygon(@borderColor);
		.createPolygon-rect(30px);
		position: absolute;
		z-index: 1;
		color: white;
	&:before {
		.createPolygon-top(@polygonSize);
	}
	&:after {
		.createPolygon-bottom(@polygonSize);
	}
	&.disabled {
		background-color: white;
		&:after, &:before {
			border-top-color: white;
			border-bottom-color: white;
		}
	}
	&:nth-child(1) {
		left: 85px;
		top: -35px;
	}
	&:nth-child(2) {
		right: -35px;
		top: 50px;
	}	
	&:nth-child(3) {
		right: -5px;
		bottom: -50px;
		// -webkit-transform: rotate(45deg);
		// -moz-transform: rotate(45deg);
	}	
	&:nth-child(4) {
		left: -5px;
		bottom: -50px;
		// -webkit-transform: rotate(-45deg);
		// -moz-transform: rotate(-45deg);
	}
	&:nth-child(5) {
		left: -35px;
		top: 50px;
	}
	&:nth-child(1),	&:nth-child(2) {
		// top: 40px;
	}
	&:nth-child(3),	&:nth-child(4) {
		// bottom: -25px;
	}
	i {
		font-size: 0.9em;
		line-height: 1;
	}
}