@import "fonts.css";
/* Artfully masterminded by ZURB  

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Colors
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
/* -----------------------------------------
   Colors
----------------------------------------- */
/* -----------------------------------------
   Metrics
----------------------------------------- */
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* -----------------------------------------
   Mixins
----------------------------------------- */
.createPolygon-top,
.createPolygon-bottom {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
  border-bottom: solid #91c53e;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3 {
  font-family: 'RobotoThin';
}
p {
  font-family: 'RobotoLight';
}
h1 {
  font-size: 44px;
  font-size: 4.4rem;
}
h2 {
  font-size: 37px;
  font-size: 3.7rem;
}
h3 {
  font-size: 27px;
  font-size: 2.7rem;
}
h4 {
  font-size: 23px;
  font-size: 2.3rem;
}
h5 {
  font-size: 17px;
  font-size: 1.7rem;
}
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}
p {
  font-size: 16px;
  font-size: 1.6rem;
}
header h2 {
  font-size: 20px;
  font-size: 2rem;
}
header h3 {
  font-size: 13px;
  font-size: 1.3rem;
}
nav a {
  font-size: 28px;
  font-size: 2.8rem;
}
.category {
  font-size: 28px;
  font-size: 2.8rem;
}
.category h1 {
  font-size: 22px;
  font-size: 2.2rem;
}
.circle.big {
  font-size: 56px;
  font-size: 5.6rem;
}
.circle.small {
  font-size: 10px;
  font-size: 1rem;
}
.lesson-features li {
  font-size: 28px;
  font-size: 2.8rem;
}
.lesson-list li span,
.lesson-features li span {
  font-size: 14px;
  font-size: 1.4rem;
}
.polygon p {
  font-size: 14px;
  font-size: 1.4rem;
}
.badge-polygon > i {
  font-size: 40px;
  font-size: 4rem;
}
.badge-circle > i {
  font-size: 126px;
  font-size: 12.6rem;
}
.award-circle i {
  font-size: 25px;
  font-size: 2.5rem;
}
.award-polygon i {
  font-size: 25px;
  font-size: 2.5rem;
}
.ribbon-bottom {
  font-size: 28px;
  font-size: 2.8rem;
}
body {
  background-color: #fafafa;
}
.content {
  margin-top: 1em;
}
/* -----------------------------------------
   Main Header
----------------------------------------- */
header h2 {
  margin: 0;
}
header .five.columns {
  top: 3em;
}
header .five.columns:first-child {
  text-align: right;
}
header {
  margin-top: 1em !important;
}
hr {
  border-color: rgba(1, 1, 1, 0.1);
  margin: 0;
}
/* -----------------------------------------
   Sub Header
----------------------------------------- */
.logo img {
  width: 80px;
}
.sub-logo .columns {
  padding: 0;
}
nav a {
  color: #4d4d4d;
}
nav i {
  margin-left: 12px;
  line-height: 50px !important;
}
nav li {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 4px solid #4d4d4d;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* Hover animation */

}
nav li.mograph {
  border-color: #91c53e;
}
nav li.web {
  border-color: #2cb0e0;
}
nav li.tDesign {
  border-color: #e82929;
}
nav li.textFx {
  border-color: #fdb51c;
}
nav li:hover a {
  color: #808080;
}
/* -----------------------------------------
   Home (category list)
----------------------------------------- */
.category {
  height: 80px;
  margin: 3em 0 1em 0;
  padding: 1em;
  position: relative;
  border-radius: 0.5em;
  line-height: 1em;
  text-align: center;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.category h1 {
  line-height: 0;
  color: white;
  text-transform: uppercase;
}
.category.mograph {
  background-color: #91c53e;
}
.category.tDesign {
  background-color: #e82929;
}
.category.textFx {
  background-color: #fdb51c;
}
.category.web {
  background-color: #2cb0e0;
}
.category.web:active {
  background-color: #35b3e1;
}
@media only screen and (max-width: 767px) {
  .category {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}
a .circle i {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover #textFx i {
  text-shadow: -1px 1px #cccccc, -2px 2px #cccccc, -3px 3px #cccccc, -4px 4px #cccccc, -5px 5px #cccccc, -6px 6px #cccccc, -7px 7px #cccccc, -8px 8px #cccccc;
}
.circle {
  position: absolute;
  color: #4d4d4d;
  z-index: 1;
  background-color: white;
  border-radius: 2em;
  border: 0.15em solid #4d4d4d;
  text-align: center;
  line-height: 1.7em;
}
.circle.big {
  width: 2em;
  height: 2em;
  top: -25%;
}
.circle.small {
  width: 2em;
  height: 2em;
  top: 10%;
}
.circle.left {
  left: -25%;
}
.circle.right {
  right: -25%;
}
#introTour {
  display: none;
}
#startTour {
  display: none;
}
/* -----------------------------------------
   Lesson
----------------------------------------- */
.course-intro {
  height: 200px;
  margin-bottom: 1em;
  text-align: justify;
}
.course-intro h1 {
  text-align: center;
  text-transform: uppercase;
}
/* -----------------------------------------
   Lesson
----------------------------------------- */
.connector {
  width: 3px;
  height: 300px;
  background-color: #4d4d4d;
  position: absolute;
  left: 38px;
  top: 60px;
}
#lessons .polygon {
  margin-top: 50px;
}
#lessons a {
  color: white;
}
#lessons li {
  text-align: center;
}
#lessons li > a {
  display: inline-block;
}
.lesson-list {
  margin-top: 15px;
}
.lesson-list li span,
.lesson-features li span {
  width: 150px;
  height: auto;
  padding: 10px;
  color: white;
  z-index: 31;
  position: absolute;
  border-radius: 5px;
  border: 3px solid white;
  background-color: #808080;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  display: none;
}
.lesson-list li span.mograph,
.lesson-features li span.mograph {
  background-color: #a7d165;
}
.lesson-list li span.tDesign,
.lesson-features li span.tDesign {
  background-color: #ed5757;
}
.lesson-list li span.web,
.lesson-features li span.web {
  background-color: #58c1e7;
}
.lesson-list li span.textFx,
.lesson-features li span.textFx {
  background-color: #fdc54f;
}
.lesson-list li span {
  left: 60px;
  top: -13px;
}
.lesson-features li span {
  right: 60px;
  top: 0;
}
.lesson-list li a:hover span,
.lesson-features li a:hover span {
  display: block;
}
.polygon.small {
  height: 30px;
  width: 50px;
}
.polygon.big {
  height: 60px;
  width: 100px;
}
.polygon.badge-polygon {
  height: 120px;
  width: 199px;
}
.polygon.big .frame {
  top: -50px;
}
.polygon.small .frame {
  top: 0;
}
.polygon .frame {
  position: absolute;
}
.polygon.frame-inner {
  position: relative;
  text-align: center;
  margin-bottom: 1.8em !important;
  line-height: 1em;
  background-color: #ffffff;
  /*todo*/

  font-size: 2em;
  position: absolute;
  z-index: -1;
  background-color: white;
  -webkit-transform: scale(1.1);
}
.polygon.frame-inner a {
  color: white;
}
.polygon.frame-inner:before,
.polygon.frame-inner:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
}
.polygon.frame-inner:before {
  border-bottom: solid #ffffff;
}
.polygon.frame-inner:after {
  border-top: solid #ffffff;
}
.polygon.frame-outer {
  position: absolute;
  background-color: white;
  -webkit-transform: scale(1.2);
  z-index: -2;
}
.polygon.mograph {
  position: relative;
  text-align: center;
  margin-bottom: 1.8em !important;
  line-height: 1em;
  background-color: #91c53e;
  /*todo*/

  font-size: 2em;
  background-color: #91c53e;
}
.polygon.mograph a {
  color: white;
}
.polygon.mograph:before,
.polygon.mograph:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
}
.polygon.mograph:before {
  border-bottom: solid #91c53e;
}
.polygon.mograph:after {
  border-top: solid #91c53e;
}
.polygon.tDesign {
  position: relative;
  text-align: center;
  margin-bottom: 1.8em !important;
  line-height: 1em;
  background-color: #e82929;
  /*todo*/

  font-size: 2em;
  background-color: #e82929;
}
.polygon.tDesign a {
  color: white;
}
.polygon.tDesign:before,
.polygon.tDesign:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
}
.polygon.tDesign:before {
  border-bottom: solid #e82929;
}
.polygon.tDesign:after {
  border-top: solid #e82929;
}
.polygon.textFx {
  position: relative;
  text-align: center;
  margin-bottom: 1.8em !important;
  line-height: 1em;
  background-color: #fdb51c;
  /*todo*/

  font-size: 2em;
  background-color: #fdb51c;
}
.polygon.textFx a {
  color: white;
}
.polygon.textFx:before,
.polygon.textFx:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
}
.polygon.textFx:before {
  border-bottom: solid #fdb51c;
}
.polygon.textFx:after {
  border-top: solid #fdb51c;
}
.polygon.web {
  position: relative;
  text-align: center;
  margin-bottom: 1.8em !important;
  line-height: 1em;
  background-color: #2cb0e0;
  /*todo*/

  font-size: 2em;
  background-color: #2cb0e0;
}
.polygon.web a {
  color: white;
}
.polygon.web:before,
.polygon.web:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
}
.polygon.web:before {
  border-bottom: solid #2cb0e0;
}
.polygon.web:after {
  border-top: solid #2cb0e0;
}
.award-polygon .frame-outer {
  top: 0 !important;
  left: 0;
  z-index: -1;
  -webkit-transform: scale(1.1);
  background-color: white;
}
.award-polygon .frame-outer:before,
.award-polygon .frame-outer:after {
  border-bottom-color: white;
  border-top-color: white;
}
.polygon.small:before {
  top: -15px;
  border-left-width: 25px;
  border-right-width: 25px;
  border-bottom-width: 15px;
}
.polygon.small:after {
  bottom: -15px;
  border-left-width: 25px;
  border-right-width: 25px;
  border-top-width: 15px;
}
.polygon.big:before {
  top: -30px;
  border-left-width: 50px;
  border-right-width: 50px;
  border-bottom-width: 30px;
}
.polygon.big:after {
  bottom: -30px;
  border-left-width: 50px;
  border-right-width: 50px;
  border-top-width: 30px;
}
.polygon.badge-polygon:before {
  top: -20px;
  border-left-width: 100px;
  border-right-width: 100px;
  border-bottom-width: 20px;
}
.polygon.badge-polygon:after {
  bottom: -60px;
  border-left-width: 100px;
  border-right-width: 100px;
  border-top-width: 60px;
}
article.description {
  background: #eee;
  height: 500px;
  padding: 0 1.5em;
}
.lesson-features li {
  width: 48px;
  height: 48px;
  border-radius: 10px 0 0 10px;
  background-color: #4d4d4d;
  position: relative;
  text-align: center;
}
.lesson-features li a {
  color: white;
}
/* -----------------------------------------
   Partials
----------------------------------------- */
#featured {
  background: url(../img/foundation/loading.gif) center center #f4f4f4;
  height: 300px;
}
#featured img {
  display: none;
}
#featured.orbit {
  background: none;
}
#featured.orbit img {
  display: block;
}
#quiz {
  background-color: white;
}
#quiz .orbit-slide {
  padding: 0 50px;
}
#badgeModal {
  top: 0;
}
.reveal-modal {
  padding-bottom: 100px;
}
.reveal-modal .close-reveal-modal {
  text-shadow: none;
}
[class*="badge-"] {
  margin: 0 auto;
  color: white;
  text-align: center;
}
[class*="badge-"] ul {
  list-style: none;
}
[class*="badge-"] p {
  position: relative;
  top: -30px;
  z-index: 1;
  line-height: 0;
}
.badge-circle {
  color: #4d4d4d;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background-color: white;
  border: 40px solid;
}
.badge-circle.mograph {
  border-color: #91c53e;
}
.badge-circle.tDesign {
  border-color: #e82929;
}
.badge-circle.web {
  border-color: #2cb0e0;
}
.badge-circle.textFx {
  border-color: #fdb51c;
}
.badge-polygon > i {
  color: white;
  line-height: 1;
}
.badge-circle > i {
  color: #4d4d4d;
  line-height: 1.5;
}
/*
#badge-polygonModal.reveal-modal {
	width: 300px;
	margin-left: 200px;
	padding: 100px;
}
*/
.award-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 5px solid white;
  z-index: 1;
  background-color: #4d4d4d;
  color: white;
}
.award-circle:nth-child(odd) {
  left: -25px;
}
.award-circle:nth-child(even) {
  right: -25px;
}
.award-circle:nth-child(1),
.award-circle:nth-child(2) {
  top: -20px;
}
.award-circle:nth-child(3),
.award-circle:nth-child(4) {
  bottom: -25px;
}
.award-circle:nth-child(5) {
  left: 70px;
  bottom: -80px;
}
.award-circle i {
  line-height: 1.4;
}
.award-circle i.disabled {
  opacity: .2;
}
.award-circle.disabled {
  background-color: white;
}
.ribbon-top {
  width: 80px;
  height: 160px;
  position: absolute;
  top: -200px;
  left: 60px;
  background-color: #75a030;
}
.ribbon-top:after {
  width: 0px;
  height: 0px;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 80px solid red;
}
.ribbon-bottom {
  width: 40px;
  height: 120px;
  position: absolute;
  text-align: center;
  margin-bottom: 1.8em !important;
  line-height: 1em;
  z-index: -1;
}
.ribbon-bottom a {
  color: white;
}
.ribbon-bottom:before,
.ribbon-bottom:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
}
.ribbon-bottom:before {
  border-bottom: solid white;
  top: 101px;
  border-left-width: 20px;
  border-right-width: 20px;
  border-bottom-width: 20px;
}
.ribbon-bottom:nth-of-type(1) {
  left: 70px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
}
.ribbon-bottom:nth-of-type(1).mograph {
  background-color: #83b436;
}
.ribbon-bottom:nth-of-type(1).web {
  background-color: #1fa3d3;
}
.ribbon-bottom:nth-of-type(1).tDesign {
  background-color: #df1818;
}
.ribbon-bottom:nth-of-type(1).textFx {
  background-color: #fdad03;
}
.ribbon-bottom:nth-of-type(2) {
  right: 70px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  z-index: -2;
}
.ribbon-bottom:nth-of-type(2).mograph {
  background-color: #75a030;
}
.ribbon-bottom:nth-of-type(2).web {
  background-color: #1c92bd;
}
.ribbon-bottom:nth-of-type(2).tDesign {
  background-color: #c81616;
}
.ribbon-bottom:nth-of-type(2).textFx {
  background-color: #e49c02;
}
.award-polygon {
  position: relative;
  text-align: center;
  margin-bottom: 1.8em !important;
  line-height: 1em;
  background-color: #4d4d4d;
  /*todo*/

  font-size: 2em;
  height: 30px;
  width: 50px;
  position: absolute;
  z-index: 1;
  color: white;
  -webkit-transition: -webkit-transform 2s ease-in-out;
}
.award-polygon a {
  color: white;
}
.award-polygon:before,
.award-polygon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: solid transparent;
  border-right: solid transparent;
}
.award-polygon:before {
  border-bottom: solid #4d4d4d;
}
.award-polygon:after {
  border-top: solid #4d4d4d;
}
.award-polygon:before {
  top: -15px;
  border-left-width: 25px;
  border-right-width: 25px;
  border-bottom-width: 15px;
}
.award-polygon:after {
  bottom: -15px;
  border-left-width: 25px;
  border-right-width: 25px;
  border-top-width: 15px;
}
.award-polygon.false {
  background-color: white;
  -webkit-transform: rotate(180deg);
}
.award-polygon.false:after,
.award-polygon.false:before {
  border-top-color: white;
  border-bottom-color: white;
}
.award-polygon:nth-child(1) {
  left: 85px;
  top: -35px;
}
.award-polygon:nth-child(2) {
  right: -40px;
  top: 50px;
}
.award-polygon:nth-child(3) {
  right: -5px;
  bottom: -50px;
}
.award-polygon:nth-child(4) {
  left: -5px;
  bottom: -50px;
}
.award-polygon:nth-child(5) {
  left: -40px;
  top: 50px;
}
.award-polygon i {
  line-height: 1;
}
.shadow.simple {
  text-shadow: 1px 1px #333333;
}
.shadow.color {
  text-shadow: 1px 1px #ccc,
	    2px 2px #ccc,
	    3px 3px #ccc,
	    4px 4px #ccc,
	    5px 5px #ccc,
	    6px 6px #ccc;
}
.shadow.stack {
  text-shadow: 1px 0 #EEEEEE, 0 1px #CCCCCC,
		2px 1px #EEEEEE, 1px 2px #CCCCCC,
		3px 2px #EEEEEE, 2px 3px #CCCCCC,
		4px 3px #EEEEEE, 3px 4px #CCCCCC,
		5px 4px #EEEEEE, 4px 5px #CCCCCC,
		6px 5px #EEEEEE, 5px 6px #CCCCCC,
		6px 6px #EEEEEE;
}
.shadow.smooth {
  text-shadow: 1px 0px 1px #eee, 0px 1px 1px #ccc,
		2px 1px 1px #eee, 1px 2px 1px #ccc,
		3px 2px 1px #eee, 2px 3px 1px #ccc,
		4px 3px 1px #eee, 3px 4px 1px #ccc,
		5px 4px 1px #eee, 4px 5px 1px #ccc,
		6px 5px 1px #eee, 5px 6px 1px #ccc,
		6px 6px 1px #eee;
}
.shadow.stroke {
  text-shadow: 0 -1px #999999, 1px 0 #999999, 0 1px #999999, -1px 0 #999999;
}
.shadow.inset {
  text-shadow: 0 -1px 1px #666666, 0 1px 1px #ffffff;
}
.shadow.emboss {
  text-shadow: 0 -1px 1px #ffffff, 0 1px 1px #666666;
}
.shadow.glow {
  text-shadow: 0 0 0.2em #8877FF, 0 0 0.2em #8877FF, 0 0 0.2em #8877FF;
}
.shadow.neon {
  text-shadow: 0 0 10px #FFFFFF,
	    0 0 20px #FFFFFF,
	    0 0 30px #FFFFFF,
	    0 0 40px #FF00DE,
	    0 0 70px #FF00DE,
	    0 0 80px #FF00DE,
	    0 0 100px #FF00DE,
	    0 0 150px #FF00DE;
}
markdown {
  color: red;
}
.lesson-content h3 {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
