<!-- Header -->
<div ng-include src="'partials/mainHeader.html'"></div>

<!-- Content -->
<section>


<div class="row">
  <button id="startTour" class="button" ng-click="startTour()">Start Tour</button>
  <ul class="block-grid two-up mobile">
    <li ng-repeat="course in courses" class="row ">
      <a href="#/courses/{{course.id}}">
        <div id="{{course.id}}" class="eight columns category offset-by-three {{course.id}}">
          <span class="circle big hide-for-small" ng-class-odd="'left'" ng-class-even="'right'">
            <i class="foundicon-{{course.icon}}"></i>
          </span>
          <!-- Mobile -->
          <i class="foundicon-{{course.icon}} circle big show-for-small"></i>
          <h1>{{course.name}}</h1>
        </div>
      </a>
    </li>
  </ul>
</div>



<!-- JoyRide -->
<ol id="introTour">
  <li ng-repeat="course in courses" data-id="{{course.id}}">{{course.name}}</li>
</ol>  
  

<!-- STATIC -->
<!--
<div class="row">
  <a href="#/lesson">
    <div id="cat1" class="four columns offset-by-one category big mograph left">
      motion graphics
    </div>
  </a>

  <div class="two columns"></div>

  <a href="#/lesson">
    <div id="cat2" class="four columns category big web right">
      <i class="foundicon-home circle"></i>
      web
    </div>
  </a>

  <div class="one-columns"></div>
</div>

<div class="row">
  <a href="#/lesson">
    <div id="cat3" class="four columns offset-by-one category big tDesign left">
      type design
    </div>
  </a>

  <div class="two columns"></div>

  <a href="#/lesson">
    <div id="cat4" class="four columns category big textFx right">
      text effects  
    </div>
  </a>

  <div class="one-columns"></div>
</div>
-->