<p>Kinetic Typography is a technique of expression with animated text. Compared to static text, animated text adds emotion and personality to the characters.</p>

<p>This technique is not only referred as <em>moving text</em> but also <em>temporal typography</em> (text presented over time).</p>

<p>In order to distinguish between form and movement this temporal typography is categorised according to behavior or action.</p>

<p>sources
http://en.wikipedia.org/wiki/Kinetic_typography
http://vimeo.com/channels/kinetictypography
http://johnnylee.net/kt/</p>
