<div id="awardModal" class="reveal-modal">
   <h1>AWARDS <em>DEMO</em></h1>

<!-- 
   <ul class="block-grid two-up mobile">
      <li class="row">
         <span class="circle big hide-for-small">
           <i class="t21-web"></i>
         </span>
      </li>
   </ul>    

   <ul>
      <li class="polygon small web">
         <span>webfont</span>
      </li>
      <li class="polygon small web">category</li>
      <li class="polygon small web">category</li>
      <li class="polygon small web">category</li>
      <li class="polygon small web">category</li>
   </ul>

   <ul>
      <li ng-repeat="course in courses">
         {{course}}
      </li>
   </ul>

   data: {{$routeParams.courseId}}

 -->   
   <img src="img/award_overview.png">

   <a class="close-reveal-modal">&#215;</a>
</div>