<div id="infoModal" class="reveal-modal">
   <h1>Info</h1>
   <p>type21 is a project for the <strong>interactivity</strong> class at the <a href="http://lyit.ie">LYIT</a> promoting typography.</p>
   
   <p>While creating this site and content I also learned new interesting facts about typography and tried to integrate it here (like font sizing, icon fonts, webfonts). So I hope you learn something new aswell.</p>
   
   <p>Unfortunatly some features are not quite implemented or fully functional yet <em>BUT</em> I plan to keep working on it. Using this site as a <em>digital playground</em> to optimize and add features in terms of design and development like making this site fully responsive. With relative small effort it already works to some extend - check it out!</p>

   <p>Any further development can be followed at the <a href="https://github.com/fuhlig/type21">github repo</a></p>

   <a class="close-reveal-modal">&#215;</a>
</div>