<!-- Header -->
<div ng-include src="'partials/subHeader.html'"></div>


<!-- Content -->
<section class="row content">

	<aside class="one columns lesson-list">
		<div class="connector"></div>
		<ul class="five side-nav">
		  <li class="polygon small"><a href="#"><i class="foundicon-star"></i></a></li>
		  <li class="polygon small"><a href="#"><i class="foundicon-star"></i></a></li>
		  <li class="polygon small"><a href="#"><i class="foundicon-star"></i></a></li>
		  <li class="polygon small"><a href="#"><i class="foundicon-star"></i></a></li>
		  <li class="polygon small"><a href="#"><i class="foundicon-star"></i></a></li>
		</ul>	
	</aside>

	<article class="four columns description">
	  <h1>{{lesson.title}}</h1>
	  <p>{{lesson.description}}</p>
	</article>

	<div class="seven columns lesson-content">
	  <div id="row">
	  	<article class="eleven columns"></article>
	  	<aside class="one columns lesson-features">
	  		<ul class="three side-nav">
				  <li><a href="#"><i class="foundicon-idea"></i></a></li>
				  <li><a href="#"><i class="foundicon-location"></i></a></li>
				  <li><a href="#"><i class="foundicon-flag"></i></a></li>
	  		</ul>
	  	</aside>
	  </div>
	</div>
</section>