<div id="quiz">
	<div>
		<h1>First</h1>
		<form name="firstQuiz">
			<input type="radio" ng-model="radioAnswer" value="one">One <br>
			<input type="radio" ng-model="radioAnswer" value="two">Two <br>
			<input type="radio" ng-model="radioAnswer" value="three">Three <br>
		</form>
		<p>your answer: {{radioAnswer}}</p>
	</div>
	<div>
		<h1>Second</h1>
		<form name="firstQuiz">
			<input type="checkbox" ng-model="check1" ng-true-value="correct" ng-false-value="incorrect">One <br>
			<input type="checkbox" ng-model="check2" ng-true-value="incorrect" ng-false-value="correct">Two <br>
			<input type="checkbox" ng-model="check3">Three <br>
		</form>
		<p>A: {{check1}}</p>
		<p>B: {{check2}}</p>
		<p>C: {{check3}}</p>
	</div>
	<div>
		<h1>Third</h1>
	</div>
</div>


<script>
	// init fn.orbit
	$('#quiz').orbit({
		timer: false,
		// animation: 'horizontal-push',
		fluid: "16x9"
	});
</script>