<!-- Header -->
<div ng-include src="'partials/subHeader.html'"></div>

<!-- Content -->

<div class="row course-intro">
  <h1>{{course.name}}</h1>
  <p>{{course.description}}</p>
</div>

<div id="lessons" class="row">
  <ul class="block-grid five-up mobile-three-up">
    <li ng-repeat="lesson in course.lessons">
        <a href="#/{{$routeParams.courseId}}/{{lesson.id}}">
          <div class="polygon big {{$routeParams.courseId}}">
            <i class="foundicon-{{lesson.icon}}"></i>
            <p>{{lesson.name}}</p>
          </div>
        </a>
    </li>
  </ul>
</div>