<!-- Header -->
<div ng-include src="'partials/subHeader.html'"></div>


<section class="row content">

	<!-- Lesson List -->	
	<aside class="one columns lesson-list">
		<div class="connector"></div>
		<ul class="five side-nav">
			<li ng-repeat="lesson in course.lessons" class="polygon small {{$routeParams.courseId}}" ng-class="{selected: $routeParams.lessonId == lesson.id}">
				<a href="#/{{$routeParams.courseId}}/{{lesson.id}}">
					<i class="{{lesson.icon}}"></i>
					<span class="{{$routeParams.courseId}}">{{lesson.name}}</span>
				</a>

	            <div class="frame">
	              <div class="polygon small frame-inner"></div>
	              <div class="polygon small frame-outer {{$routeParams.courseId}}"></div>
	            </div>

	            <div ng-show="{{$routeParams.courseId}} === '{{lesson.id}}'"></div>

			</li>
		</ul>	
	</aside>

	<!-- Content -->
	<div id="content" class="one columns"></div>
	<article class="eight columns lesson-content">
		<h1>{{lesson.title}}</h1>
		<div ng-include src="content"></div>
	</article>
	<div class="one columns"></div>


	<!-- set new path -->
	<!-- 
		$location.path('/xxx')
	 -->

	<!-- Feature List -->
  	<aside class="one columns lesson-features">
  		<ul class="three side-nav">
  			<li ng-repeat="feature in lesson.features" 
  			ng-click="
  				setContent(feature.src); 
			">
  				<a><i class="{{feature.icon}}"><span>{{feature.name}}</span></i></a>
  			</li>
  		</ul>
  	</aside>
</section>
